h1{
    display: inline-block;
  
   z-index: 100;
    
}
#min{
    width: 50px;
}
#sec{
    width: 50px;
}

#msec{
    width: 50px;
}
img{
    height: 60px;
    width: 60px;
}
/* html,body{
     height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow:hidden ;
}

#particle-canvas {
    width: 100%;
    height: 100%;
  } */
 

